{% extends 'base.html.twig' %}

{% block title %}Symrecipe - Modification du mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <h2>Formulaire de modification du mot de passe</h2>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">{{ message }}</div>
            {% endfor %}
        {% endfor %}

        {{ form(form)}}
    </div>
{% endblock %}